{% extends '_base.html' %}
{% block title %}Listagem de Promoções{% endblock %}

{% block content %}
    <h1>Promoções</h1>
    {% for promocao in promocoes %}
        <div class="promocao-item">
            <p><strong>Produto:</strong></p>
            <ul>
                {% for produto in promocao.produtos.all %}
                    <li>{{ produto.nome }}</li>
                {% endfor %}
            </ul>
            <p><strong>Percentual de Desconto:</strong> {{ promocao.percentual }}%</p>
            <a href="{% url 'promo:cancelar_promocao' promocao.pk %}" class="btn btn-danger btn-sm">Deletar</a>
        </div>
        <hr>
    {% empty %}
        <p>Nenhuma promoção encontrada.</p>
    {% endfor %}
    <p></p>
    <a href="{% url 'promo:criar_promocao' %}" class="btn btn-primary">Criar Nova Promoção</a>
{% endblock %}
