<!-- promo/templates/promo/listar_promocoes.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Promoções</title>
</head>
<body>
    <h1>Promoções</h1>
    <table>
        <thead>
            <tr>
                <th>Percentual</th>
                <th>Produtos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for promocao in promocoes %}
                <tr>
                    <td>{{ promocao.percentual }}%</td>
                    <td>
                        {% for produto in promocao.produtos.all %}
                            {{ produto.nome }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'promo:cancelar_promocao' promocao.pk %}" class="btn btn-danger btn-sm">Deletar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhuma promoção encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'promo:criar_promocao' %}" class="btn btn-primary">Criar Nova Promoção</a>
</body>
</html>

