<!DOCTYPE html>
<html>
<head>
    <title>Visualização de Produtos para Comprador</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Produtos Disponíveis</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Mercados</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.descricao }}</td>
            <td>
                {% for mercado in produto.mercado.all %}
                    {{ mercado.nome }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
