{% extends '_base.html' %}

{% block content %}
    <h1>{{ produto.nome }}</h1>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
    
    <p><strong>Mercados:</strong></p>
    <ul>
        {% if produto.mercados.all %}
            {% for mercado in produto.mercados.all %}
                <li>{{ mercado.nome }}</li>
            {% endfor %}
        {% else %}
            <li>Este produto não está disponível em nenhum mercado.</li>
        {% endif %}
    </ul>

    <p><strong>Tags:</strong></p>
    <ul>  
        {% for tag in produto.tags.all %}
            <li>{{ tag.nome }}</li>
        {% empty %}
            <li>Nenhuma tag associada.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'produtos:listar_produtos' %}">Voltar à lista de produtos</a>
{% endblock %}
