{% extends '_base.html' %}

{% block content %}
    <div style="text-align: left; margin-bottom: 20px;">
        <a href="{% url 'produtos:adicionar_produto' %}" class="btn btn-primary">Adicionar Produto</a>
    </div>

    <h1>Lista de Produtos</h1>

    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - {{ produto.preco }}</li>
        {% endfor %}
    </ul>

    <!-- Adicione a paginação se necessário -->
    <div class="pagination">
        <span class="step-links">
            {% if produtos.has_previous %}
                <a href="?page=1">&laquo; primeiro</a>
                <a href="?page={{ produtos.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
            </span>

            {% if produtos.has_next %}
                <a href="?page={{ produtos.next_page_number }}">próxima</a>
                <a href="?page={{ produtos.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
