<!-- produtos/tag_form.html -->
{% extends '_base.html' %}
{% block title %}{% if form.instance.pk %}Editar{% else %}Adicionar{% endif %} Tag{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Editar{% else %}Adicionar{% endif %} Tag</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info btn-sm" type="submit">Salvar</button>
        <a class="btn btn-warning btn-sm" href="{% url 'produtos:tag_list' %}">Voltar</a>
    </form>
    
{% endblock %}
